/*navbar*/

.navbar {
    background-color: #28a745;
    display: flex;
}

.log1 {
    height: 50px;
}


/*tarjetas*/

.linea1 {
    color: #28a745;
}

.a:hover {
    transform: scale(0.9);
    border-radius: 30px;
    transition: all 0.5s ease;
}


/*formulario*/

.formul {
    background-color: #28a745;
}

.boton {
    text-align: center;
}

.form-label {
    color: white;
}


/*seccion footer*/

footer {
    font-size: 40px;
    text-align: center;
    align-self: flex-end;
}

.log2 {
    height: 50px;
}